{% extends 'layout.html.twig' %}
{% block title %}
	{{ parent() }}
	- Détails
{% endblock %}


{% block content %}
	{% block body %}
		{% include '_navbar.html.twig' %}
			coucou
		</h1>
{% endblock %}
		{% include '_footer.html.twig' %}
	{% endblock %}
