{% extends 'layout.html.twig' %}
{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}

{% block content %}
	{% block body %}
		<h1>
			coucou
		</h1>
		{% include '_navbar.html.twig' %}
	{% endblock %}
{% endblock %}
