
{% extends 'layout.html.twig' %}
{% block title %}
	{{ parent() }}
	- Détails
{% endblock %}

{% block content %}
	{% block body %}
		{% include '_navbar.html.twig' %}
<h1>
			coucou
		</h1>

	{% endblock %}
{% endblock %}
